# Environment variables

.env
*.env

# Python cache files

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment

venv/
env/
ENV/
.venv/

# Django files

*.log
**/*.log
*.sqlite3
**/*.sqlite3
db.sqlite3
staticfiles/


# Distribution / packaging

build/
dist/
*.egg-info/
.eggs/

# Testing

.coverage
htmlcov/
.pytest_cache/

# IDE / Editor files

.vscode/
.idea/
*.swp
*.swo

# OS files

.DS_Store
Thumbs.db

# Jupyter

.ipynb_checkpoints

# Temporary files

tmp/
temp/

# Migrations cache 

**/migrations/*.pyc



