# PyTorch packages with GPU support
--index-url https://download.pytorch.org/whl/cu118

facenet-pytorch

# Other packages
Django
#tf-keras
ultralytics
opencv-python-headless
PyYAML
tqdm
Pillow
numpy

channels
channels-redis
daphne

dotenv
dj-database-url